
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Header  css*/
.header{
    display: flex;
    align-items: center;
    width:100vw;
    height: 10vh;
    background-image: url(../img/tech.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color:black;
    font-size: 1.2em;
    justify-content: center;
    letter-spacing: 3px;

}

.header h2{
    background-color: white;
}



/*Navbar css*/
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100vw;
    background-color:black;
    color: white;

}

.webTitle{
    cursor: pointer;
    margin-left:4rem;
    margin-top: 0.9rem;
    margin-bottom: 0.9rem;
}

.navlinks ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-size: 1.1em;
    margin-right: 4rem;

}

.navlinks ul li {
    cursor: pointer;
    transition: all 0.3s ease;
}

.navlinks ul li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: .6rem .9rem;
    transition: all 0.3s ease;
}

.navlinks ul li a:hover{
    background-color:red;
    transition: background-color 0.5s;
}


.hamburger{
    position: absolute;
    display: none;
    justify-content: space-between;
    flex-direction: column;
    top:5.5rem;
    right: 3rem; 
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px;
    transition: all 0.3s ease;
}

.close .burger1{
	transform: rotate(-45deg) translate(-5px,6px);
	
}

.close .burger2{
	opacity: 0;
}

.close .burger3{
	transform: rotate(45deg) translate(-2.5px,-4px);
}


.fixed{
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    z-index: 1;
}


/* Main content css */
.mainContent{
    height: 90vh;
    width:100%
}

.intro{
    height: 30vh;
    width: 100%;
    background-image:url(../img/ai.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.aiSection{
    width: 100%;
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}

.ai{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
 
}

.history{
    padding-top: 10px;
}

.ai p{
    padding-bottom: 10px;
}


/* About css */

.aboutImg{
    background-image: url(../img/web.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

}

.about{
    color: white;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    width:100%;
    
}

.atitle{
    padding-top: 10px;
    text-align: center;
}



/* Footer css */

.footer {
    background-color: rgb(20, 19, 19);
    color: #fff;
    text-align: center;
    font-weight: 600;
    padding: 0.5rem 0;
}

.fCopyright{
    margin-top: 0.5em;

}

.fSocial {
    margin-top: 0.5em;
}

.fIcon {
    font-size: 1.3rem;
    color: #fff;
    margin: 0 1.2em;
}


/* Form css */

.Fcontent{
	display: flex;
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
	justify-content: center;
	align-items: center;
	width:100%;
	height: 74vh;
  
}

.message{
	width: 40%;
	height: auto;
	background-color: white;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2); ;
}


.message h3{
	font-size:25px;
	font-weight: bold;
	margin: 5px 5px;

}

.message form{
	margin: 10px 10px;
}

input[type=text], select {
  width: 100%;
  padding: 5px 5px;
  margin: 3px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
 
}

input[type=date], select {
    width: 100%;
    padding: 5px 5px;
    margin: 3px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    
}

textarea{
    width: 100%;
	height: 100px;
    padding: 5px 5px;
    margin: 3px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
   
    resize: none;

}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.age{
    margin-top: 4px;
    margin-bottom: 2px;
}


@media screen and (max-width:800px) {
    .message{
        width: 80%;
        
    }
}

/* Media queries */
@media screen and (max-width:850px){
    .hamburger{
        display: block;
    }

    .webTitle{
        margin-left: 2rem;
    }
    
    #navbar{
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    .navlinks{
        display: none;
        width: 100%;
    }

    .navlinks ul{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .navlinks li{
        text-align: center;
    }

    .navlinks ul li{
        width: 100%;
    }

    .navlinks.active{
        display: block;
    }


    .message{
        width: 80%;
        
    }
}